.accordion {
  display: flex;
  flex-direction: column;
  // background: #7efff5;
  background: white;
  color: #34495e;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;

  margin: 2rem 0.5rem;

  .title {
    display: flex;
    justify-content: space-between;
    h1 {
      width: 100%;
      margin: 1rem;
      font-size: 1.5rem;
    }
    button {
      outline: none;
      border: none;
      width: 48px;
      height: 48px;
      background: #34495e;
      color: white;
      margin: 1rem;
      padding: 0.5rem 0.5rem;
      place-items: center;
      font-size: 2rem;
      display: flex;
      align-items: center;
      border-radius: 50%;
      position: relative;
      isolation: isolate;
      &::after {
        transition: transform 150ms, opacity 200ms;
        content: '';
        position: absolute;
        inset: -2px;
        background-color: inherit;
        border: 2px solid #34495e;
        border-radius: inherit;
        z-index: -1;

        transform-origin: center;
        transform: scale(0);
        opacity: 0;
      }
      &:hover::after,
      &:focus::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  .content {
    max-height: 0;
    overflow: hidden;
    margin: 0;

    transition: max-height 0.3s;
    p {
      opacity: 0;
      transition-delay: 0.3s;
      transition: opacity 0.3s;
      font-size: 150%;
      padding-inline: 2rem;
    }
    &.open {
      max-height: 20rem;
      border-top: 5px solid #34495e;
      p {
        opacity: 1;
      }
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 80%;
    margin: 2rem auto;
    .title h1 {
      font-size: 2rem;
    }
  }
}
